@{
    ViewBag.Title = "About";
}


<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>   

   
    <p>
        Hi, I'm Camilo.  I've been working in software development, professionally, since 2008.  I've spent most of my career doing Web Development with a focus on the Microsoft tech stack (.NET, SQL Server, IIS, Window Server, etc) along with your javascript
        and jQuery using Bootstrap for CSS.  I've also dabbled in Typscript and AngularJS.  Most recently I've started using <a href="https://coreui.io/" target="_blank">Core.UI</a> as well, for some nicer UI Components.
    </p>
    <p>
        After 13 years of Government Contracting, I've decided to try my hand at Freelancing, to work more at my own pace.  My wheelhouse consists of Full Stack Web Development, configuring Windows Servers, setting up SQL Server database instances, and managing websites on IIS.
        With these skills, I am well positioned to be a one man shop for your website needs.  I'll manage the development, maintenance of servers, domain procurement, and any other task you made need to allow you to focus on the content of your site rather than its management.
    </p>
    <p>
        In my free time, I've also decided to get into game development with a good friend.  We are in the beginning stages of the project and have quite a ways to go, but it has been a very refreshing experience so far.  I'm learning new technologies and frameworks while still
        to leverage my previous knowledge.  Currently we're focusing on using <a href="https://unity.com/" target="_blank">Unity</a> with <a href="https://www.articy.com/en/" target="_blank">articy: draft X</a> as our main tools for developing our game.
    </p>
    <p>
        Also in my free time, I will be updating this site by creating my own Blog framework and then using it to post updates about the game I'm working on.  Instead of taking an already existing framework, it would be a nice exercise and showcase of what I can do to build my own.
    </p>
    <p>
        And of course I have to post pictures of my cats
    </p>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="~/Content/images/cats/brie-1.jpeg" class="w-100" alt="Brie" title="Brie" />
            </div>
            <div class="col-md-6">
                <img src="~/Content/images/cats/saperavi-1.jpeg" class="w-100" alt="Saperavi" title="Saperavi in a toast cone of shame" />
            </div>
        </div>
    </div>

</main>