@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Portfolio";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <div>
        <p>This is a site to help a small Real Estate Company keep track of their properties, automate their calculated fields, standardize their excel reports, and have easily searchable data based on their specifications.  Built with C#, MVC, javascript, jQuery, and SQL running on a Windows Server in IIS</p>
    </div>
    <div id="realEstateCarousel" class="carousel carousel-dark slide" data-coreui-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="d-flex justify-content-center align-items-center carousel-item-wrapper">
                    <img src="~/Content/images/portfolio images/evidence-recall-login.png" class="d-block w-100" alt="Login Page">
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-flex justify-content-center align-items-center carousel-item-wrapper">
                    <img src="~/Content/images/portfolio images/evidence-recall-sale-search.png" class="d-block w-100" alt="Sales Search">
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-flex justify-content-center align-items-center carousel-item-wrapper">
                    <img src="~/Content/images/portfolio images/evidence-recall-lease-search.png" class="d-block w-100" alt="Leases Search">
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-flex justify-content-center align-items-center carousel-item-wrapper">
                    <img src="~/Content/images/portfolio images/evidence-recall-lease.png" class="d-block w-100" alt="Leases Data Input">
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-flex justify-content-center align-items-center carousel-item-wrapper">
                    <img src="~/Content/images/portfolio images/evidence-recall-sale-1.png" class="d-block w-100" alt="Sales Data Input">
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-flex justify-content-center align-items-center carousel-item-wrapper">
                    <img src="~/Content/images/portfolio images/evidence-recall-sale-2.png" class="d-block w-100" alt="Sales Data Input Part 2">
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-flex justify-content-center align-items-center carousel-item-wrapper">
                    <img src="~/Content/images/portfolio images/evidence-recall-export.png" class="d-block w-100" alt="Export to Excel">
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-coreui-target="#realEstateCarousel" data-coreui-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-coreui-target="#realEstateCarousel" data-coreui-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <hr />
    <div>
        <p>This is a site to help a Foundation Charity take in applications and allows the Foundation Board to easily review applications and collaborate with other members to streamline their decision process.  Built with C#, MVC, javascript, jQuery, and SQL running on a Windows Server in IIS</p>
    </div>
    <div id="landerFoundationCarousel" class="carousel carousel-dark slide" data-coreui-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="d-flex justify-content-center align-items-center carousel-item-wrapper">
                    <img src="~/Content/images/portfolio images/lander-foundation-home.png" class="d-block w-100" alt="Home Page">
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-flex justify-content-center align-items-center carousel-item-wrapper">
                    <img src="~/Content/images/portfolio images/lander-foundation-application-1.png" class="d-block w-100" alt="Application Input">
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-flex justify-content-center align-items-center carousel-item-wrapper">
                    <img src="~/Content/images/portfolio images/lander-foundation-application-2.png" class="d-block w-100" alt="Application Input Part 2">
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-flex justify-content-center align-items-center carousel-item-wrapper">
                    <img src="~/Content/images/portfolio images/lander-foundation-review.png" class="d-block img-fluid" alt="Application Review">
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-coreui-target="#landerFoundationCarousel" data-coreui-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-coreui-target="#landerFoundationCarousel" data-coreui-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</main>