@{
    ViewBag.Title = "About";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>      
    <p>
        Hi, I'm Camilo. I've worked in software development since 2008. Most of my career was focused on web development, with a focus on the Microsoft tech stack (.NET, SQL Server, IIS, Window Server, etc) and with javascript and jQuery using Bootstrap for CSS.
        I've also dabbled in Typscript and AngularJS. Most recently, I started using <a href="https://coreui.io/" target="_blank">Core.UI</a> for some more complex UI Components.
    </p>
    <p>
        After 13 years of government contracting, I shifted to <a href="@Url.Action("", "Freelance")">Freelancing</a>, to able to work on the projects I find more interesting with the technologies I choose. My skillset encompasses Full Stack Web Development, 
        configuring Windows Servers, setting up SQL Server database instances, and managing websites on IIS. With these skills, I am well positioned to be a one man shop for your website needs. I'll manage the development, maintenance of servers, domain procurement, 
        and any other task you may need to allow you to focus on content, not site management.        
    </p>
    <p>
        In my free time, I am experimenting with game development with a good friend. We are in the beginning stages of the project (and have quite a ways to go), but it is a refreshing experience thus far. I'm learning new technologies and frameworks, 
        while leveraging my previous knowledge. Currently, our main game development tools are <a href="https://unity.com/" target="_blank">Unity</a> with <a href="https://www.articy.com/en/" target="_blank">articy:draft X</a>.
    </p>
    <p>
        I’m committed to posting updates here on our game’s development as well as any insights on web development using my own Blog framework.  I am deliberately building my own framework, instead of taking an already existing framework, to showcase how I can build my own. 
        I'll also be adding fun things I come up with as they pop into my head, such as the Site Color Theme Picker in the upper right of this page. I'm most of the way done with the intial development of my personal blog framework.
        Check back for more updates soon!
    </p>     
</main>